<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <input id="idP" placeholder="ID" v-model="newProductId">
        <input id="nomP" placeholder="Title" v-model="newProductName">
        <input id="prixP" placeholder="Price" v-model="newProductPrice">
        <p><button @click="ajouter">Add</button></p>
        
        <br>
        <h1>Products</h1>
        <div v-for="i in produits" :key="i.id">
            <h2>{{ i.nom }} <span v-if="i.etat=='unvailable'">{{i.etat}}</span> </h2>
            <p>Price: {{ i.prix }}.- </p>
            <p>Id: {{ i.id }}</p>
            <br>
        </div>
    </div>

    
</body>

<script type="module">
    import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
    createApp({
        data(){
            return {
                produits: [
                    {id: 1, nom: "iPhone", prix: 1100, etat: "vailable"},
                    {id: 2, nom: "Samsung Galaxy", prix: 999, etat: "vailable"},
                    {id: 3, nom: "Surface Duo", prix: 1399, etat: "unvailable"}
                ],
                newProductId: '',
                newProductName: '',
                newProductPrice: ''
            }
        },
        methods:{
            ajouter(){
                let newProduct = {
                    id: this.newProductId,
                    nom: this.newProductName,
                    prix: this.newProductPrice,
                    etat: 'vailable' // Par défaut, le nouvel état est "vailable"
                };
                this.produits.push(newProduct);
                // Réinitialiser les valeurs des inputs
                this.newProductId = '';
                this.newProductName = '';
                this.newProductPrice = '';
            }
        }

    }).mount('#app')
</script>
</html>
