<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modèle Statique</title>
</head>
<body id="app" class="container">
  <h2>Produits</h2>
  <div class="input-group mb-3">
    <input type="text" v-model="identifiant" placeholder="Identifiant">
    <input type="text" v-model="titre" placeholder="Titre">
    <input type="text" v-model="prix" placeholder="Prix">
    <button @click="ajouter">Ajouter</button>
  </div>

  <input type="text" v-model="filtreTexte" placeholder="Recherche">
  <input type="checkbox" v-model="filtreDisponible">
  <label>Disponible</label>
  <select v-model="triSelectionné">
    <option value="nom">Nom</option>
    <option value="prix">Prix</option>
  </select>

  <div v-for="produit in produitsFiltrésEtTriés" :key="produit.id">
    <img :src="produit.miniature">
    <div>
      <h3>{{produit.titre}}
        <span v-if="produit.stock >= 1">Disponible</span>
        <span v-else>Non disponible</span>
      </h3>
      <p>Prix : {{produit.prix}}.-</p>
      <p>Stock : {{produit.stock}}.-</p>
      <p>{{produit.description}}</p>
      <button @click="ajouterAuPanier(produit)" v-if="produit.stock >= 1">Ajouter au panier</button>
    </div>
  </div>

  <h2>Panier</h2>
  <ul>
    <li v-for="(produit, index) in panier" :key="produit.id">
      {{produit.titre}} <input type="number" min="1" v-model="panier[index].quantité"> x {{produit.prix}}.= {{produit.prixTotal}}.-
      <button @click="retirerDuPanier(index)">Retirer</button>
    </li>
  </ul>
  <p>Vous avez {{totalArticlesPanier}} articles pour un total de {{totalPanier}}.-</p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.js" integrity="sha512-NF+M0CTEn9D9ENLJG/DxMiqAiaz3upEpfxyekwb+U2OG8JPJSh/bUgXToRtxoNW5A2ucCUCw7adbo3gU1ZdHUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="module">
    import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
    createApp({
      data() {
        return {
          identifiant: null,
          titre: "",
          prix: null,
          filtreTexte: "",
          filtreDisponible: true,
          triSelectionné: "",
          produits: [],
          panier: []
        }
      },

      mounted() {
        this.récupérerDonnées();
      },

      watch: {
        filtreTexte: 'mettreAJourEtFiltrerDonnées'
      },

      methods: {
        async récupérerDonnées() {
          try {
            const réponse = await axios.get('https://dummyjson.com/products');
            this.produits = réponse.data.products;
          } catch (erreur) {
            console.error('Erreur lors de la récupération des données :', erreur);
          }
        },

        async mettreAJourEtFiltrerDonnées(){
          try {
            const réponse = await axios.get('https://dummyjson.com/products/search?q=' + this.filtreTexte);
            this.produits = réponse.data.products;
          } catch (erreur) {
            console.error('Erreur lors de la récupération des données :', erreur);
          }
        },

        ajouter(){
          this.produits.push({
            id: this.identifiant,
            titre: this.titre,
            prix: this.prix,
            disponible: true
          });
          this.identifiant = null;
          this.titre = "";
          this.prix = null;
        },

        ajouterAuPanier(produit){
          let produitDansPanier = this.panier.find(produitDansPanier => produitDansPanier.id === produit.id)
          if(produitDansPanier != undefined){
            produitDansPanier.quantité++
            produitDansPanier.prixTotal += produit.prix
          } else{
            this.panier.push({
              id: produit.id,
              titre: produit.titre,
              prix: produit.prix,
              quantité: 1,
              prixTotal: produit.prix
            })
          }
        },

        retirerDuPanier(index){
          this.panier.splice(index, 1)
        }
      },

      computed: {
        produitsFiltrésEtTriés(){
          return this.produits
            .filter(produit => this.filtreDisponible ? produit.stock > 1 : true)
            .sort((a, b) => this.triSelectionné === "prix" ? a.prix - b.prix : a.titre.localeCompare(b.titre))
        },

        totalPanier(){
          return this.panier.reduce((acc, produit) => acc + (produit.prix * produit.quantité), 0);
        },

        totalArticlesPanier(){
          return this.panier.reduce((acc, produit) => acc + produit.quantité, 0);
        }
      }
    }).mount("#app");
  </script>
</body>
</html>
